@import 'nib'


body
  padding-top: 40px
  padding-bottom: 40px
  background-color: #eee

.container
  display: none

  &.active
    display: block

.container-inner
  max-width: 640px
  margin: 0 auto

.logo
  height: 70px
  background: url("../images/logo.png") 50% 50% no-repeat

  @media (-webkit-min-device-pixel-ratio: 2),
         (min--moz-device-pixel-ratio: 2),
         (min-resolution: 2dppx),
         (min-resolution: 192dpi)
    &
      background-image: url("../images/logo@2x.png")
      background-size: 290px

.form-group-seamless
  .form-control
    position: relative

    &:first-of-type
      margin-bottom: -1px
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0

    &:last-of-type
      border-top-left-radius: 0
      border-top-right-radius: 0

    &:focus
      z-index: 2

.btn-group-vertical-split .btn-group
  display: table

  + .btn-group
    margin-top: -1px

  > .btn
    display: table-cell
    width: 100%

.btn-group-vertical-split
  .btn-group-lg .input-group-btn > .btn
    padding: 10px 16px
    font-size: 18px
    line-height: 1.33

  .btn
    border-radius: 0

  $radius = 6px  // Yeah, yeah. Assuming large button-groups. Sue me.
  .btn-group:first-child
    > .btn
      border-top-left-radius: $radius

    .input-group-btn > .btn
      border-top-right-radius: $radius

  .btn-group:last-child
    > .btn
      border-bottom-left-radius: $radius

    .input-group-btn > .btn
      border-bottom-right-radius: $radius

.form-group-seamless button,
.btn-group-vertical-split,
.search-button,
.interaction
  margin-top: 10px

.dropdown-menu
  width: 100%

  > li > a.active
    color: #fff
    text-decoration: none
    background-color: #428bca

.search-item-interactions
  background-image: url("../images/showall-icon-16x16.png")
  background-position: 97.5% 50%
  background-repeat: no-repeat

  @media (-webkit-min-device-pixel-ratio: 2),
         (min--moz-device-pixel-ratio: 2),
         (min-resolution: 2dppx),
         (min-resolution: 192dpi)
    &
      background-image: url("../images/showall-icon-32x32.png")
      background-size: 16px

.search-button
  .badge
    color: #428bca
    background-color: #fff

  &:hover .badge
    color: #3276b1

.interaction
  .panel, .progress
    margin-bottom: 0

  .panel
    position: relative

    &:after
      content: " "
      display: block
      position: absolute
      right: 5px
      bottom: 5px
      width: 16px
      height: 16px
      background: url("../images/collapse-icons-16x16.png") no-repeat

      @media (-webkit-min-device-pixel-ratio: 2),
             (min--moz-device-pixel-ratio: 2),
             (min-resolution: 2dppx),
             (min-resolution: 192dpi)
        &
          background-image: url("../images/collapse-icons-32x32.png")
          background-size: 48px

  .panel-success:after
    background-color: #5cb85c

  .panel-info:after
    background-color: #5bc0de

  .panel-warning:after
    background-color: #f0ad4e

  .panel-danger:after
    background-color: #d9534f

  .progress
    // Some adjustments to align the bar with the collapse icon
    height: 16px
    margin-right: 11px
    margin-bottom: -10px
    margin-left: -10px

  .interaction-title
    max-width: 90%
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .interaction-details
    display: none

  &.open
    .panel:after
      background-position: -32px 0

    .interaction-details
      display: block

#loading-view
  display: none
  position: fixed
  top: 0
  height: 2px
  background-color: #428bca
  box-shadow: 0 0 8px rgba(#428bca, .6)
  z-index: 5

#alerts-view
  position: absolute
  top: 0
  width: 100%
  z-index: 10

.alert
  margin: 10px
  opacity: .8
